*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--dark-slate-grey);
  background-color: var(--charcoal-grey);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
}

input, button  {
  font: inherit;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
}

img {
  display: block;
  width: 100%;
}