.signup {
  width: 100%;
  max-width: 25rem;
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--white);
  overflow: hidden;
  box-shadow: 0 0 1rem var(--dark-slate-grey);
}

.signup.success {
  max-width: 31.5rem;
}

.signup__form {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.5rem;
}

.form__header,
.success__header {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -0.004807692307692308rem;
  margin-bottom: 1.5rem;
}

.form__list-header {
  font-size: 1rem;
}

.form__list {
  list-style-type: none;
  margin: 1.5rem 0 2.3125rem 0;
}

.form__list-item {
  display: flex;
  margin-bottom: 0.625rem;
}

.form__list-item:last-child {
  margin-bottom: 0;
}

.form__list-item::before {
  display: block;
  position: relative;
  top: 0.0625rem;
  content: url("../assets/images/icon-list.svg");
  margin-right: 1rem;
}

.form__list-item:last-of-type::before {
  top: 0.125rem;
}

.form__input-label-wrapper {
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.form__error-message {
  color: var(--tomato);
}

.form__input {
  height: 3.5rem;
  padding: 0 1.4375rem;
  border: 0.0625rem solid var(--grey);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 
    border-color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
  outline: none;
}

.form__input.invalid,
.form__input.invalid:hover,
.form__input.invalid:focus {
  color: var(--tomato);
  background-color: #ffe8e6;
  border-color: var(--tomato);
}

.form__input:hover,
.form__input:focus {
  border-color: var(--dark-slate-grey);
}

.form__submit-button,
.form__submit-button::after,
.success__dismiss-button,
.success__dismiss-button::after {
  transition: opacity 0.15s ease-in-out;
}

.form__submit-button,
.success__dismiss-button {
  position: relative;
  font-weight: var(--font-weight-bold);
  color: var(--white);
  background: linear-gradient(90deg, #ff5379, var(--tomato), #f58f46);
  border-radius: 0.5rem;
  height: 3.5rem;
  border: none;
  margin-top: 1.5rem;
  cursor: pointer;
}

.form__submit-button:hover,
.form__submit-button:focus,
.success__dismiss-button:hover,
.success__dismiss-button:focus {
  box-shadow: 0 0.5rem 2rem var(--tomato);
}

.form__submit-button:active,
.success__dismiss-button:active {
  opacity: 0.85;
}

.form__submit-button::after,
.success__dismiss-button::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: var(--dark-slate-grey);
  border-radius: inherit;
  z-index: 1;
}

.form__submit-button:hover::after,
.form__submit-button:focus::after,
.success__dismiss-button:hover::after,
.success__dismiss-button:focus::after  {
  opacity: 0;
}

.form__submit-button > *,
.success__dismiss-button > * {
  position: relative;
  top: 0.0625rem;
  z-index: 2;
}

.form__input::placeholder {
  color: var(--grey);
}

.signup__decorative-images {
  width: 100%;
  height: 100%;
}

.signup__form.hidden,
.signup__decorative-images.hidden,
.decorative-images__mobile,
.decorative-images__desktop,
.signup__success {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  visibility: hidden;
  width: 0;
}

.decorative-images__mobile {
  position: relative;
  z-index: 1;
  visibility: visible;
  width: 100%;
}

.signup__success.visible {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: initial;
  z-index: 1;
  pointer-events: all;
  visibility: visible;
  width: 100%;
  min-height: 100vh;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}

.success__icon {
  width: 4rem;
  margin-top: 7.8125rem;
  margin-bottom: 2.46875rem;
}

.message__important {
  font-weight: var(--font-weight-bold);
}

.success__dismiss-button {
  margin-top: 2.5rem;
}

@media (min-width: 400px) {
  .signup {
    border-radius: 1rem;
  }
}

@media (min-width: 850px) {
  .signup {
    position: relative;
    top: -0.0625rem;
    flex-direction: row;
    justify-content: space-between;
    max-width: 58rem;
    padding: 1.5rem;
    border-radius: 2rem;
    margin: 1.5rem;
  }

  .signup.success {
    top: 0;
  }

  .signup__form {
    justify-content: center;
    padding: 0 1.5rem;
  }

  .signup__decorative-images {
    max-width: 25rem;
  }

  .decorative-images__desktop {
    position: relative;
    z-index: 1;
    visibility: visible;
    width: 100%;
  }

  .decorative-images__mobile {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    width: 0;
  }

  .signup__success.visible {
    justify-content: flex-start;
    min-height: auto;
    padding: 1.5rem 2.5rem 2.5rem 2.5rem;
  }

  .success__icon {
    margin-top: 0;
  }
}

@media (min-width: 900px) {
  .signup__form {
    padding-left: 2.5rem;
    padding-right: 4rem;
  }

  .form__header,
  .success__header {
    font-size: 3.5rem;
  }

  .form__list-item {
    margin-bottom: 0.40625rem;
  }
}