.signup {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--white);
  overflow: hidden;
  box-shadow: 0 0 16px var(--dark-slate-grey);
}

.signup.success {
  max-width: 504px;
}

.signup__form {
  display: flex;
  flex-direction: column;
  padding: 36px 24px 40px 24px;
}

.form__header,
.success__header {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.07692307692307693px;
  margin-bottom: 24px;
}

.form__list-header {
  font-size: 1rem;
}

.form__list {
  list-style-type: none;
  margin: 24px 0 37px 0;
}

.form__list-item {
  display: flex;
  margin-bottom: 10px;
}

.form__list-item:last-child {
  margin-bottom: 0;
}

.form__list-item::before {
  display: block;
  position: relative;
  top: 1px;
  content: url("../assets/images/icon-list.svg");
  margin-right: 16px;
}

.form__list-item:last-of-type::before {
  top: 2px;
}

.form__input-label-wrapper {
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.form__error-message {
  color: var(--tomato);
}

.form__input {
  height: 56px;
  padding: 0 23px;
  border: 1px solid var(--grey);
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out;
  outline: none;
}

.form__input.invalid,
.form__input.invalid:hover,
.form__input.invalid:focus {
  color: var(--tomato);
  background-color: #ffe8e6;
  border-color: var(--tomato);
}

.form__input:hover,
.form__input:focus {
  border-color: var(--dark-slate-grey);
}

.form__submit-button,
.form__submit-button::after,
.success__dismiss-button,
.success__dismiss-button::after {
  transition: opacity 0.15s ease-in-out;
}

.form__submit-button,
.success__dismiss-button {
  position: relative;
  font-weight: var(--font-weight-bold);
  color: var(--white);
  background: linear-gradient(90deg, #ff5379, var(--tomato), #f58f46);
  border-radius: 8px;
  height: 56px;
  border: none;
  margin-top: 24px;
  cursor: pointer;
}

.form__submit-button:hover,
.form__submit-button:focus,
.success__dismiss-button:hover,
.success__dismiss-button:focus {
  box-shadow: 0 8px 32px var(--tomato);
}

.form__submit-button:active,
.success__dismiss-button:active {
  opacity: 0.85;
}

.form__submit-button::after,
.success__dismiss-button::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: var(--dark-slate-grey);
  border-radius: inherit;
  z-index: 1;
}

.form__submit-button:hover::after,
.form__submit-button:focus::after,
.success__dismiss-button:hover::after,
.success__dismiss-button:focus::after  {
  opacity: 0;
}

.form__submit-button > *,
.success__dismiss-button > * {
  position: relative;
  top: 1px;
  z-index: 2;
}

.form__input::placeholder {
  color: var(--grey);
}

.signup__decorative-images {
  width: 100%;
  height: 100%;
}

.signup__form.hidden,
.signup__decorative-images.hidden,
.decorative-images__mobile,
.decorative-images__desktop,
.signup__success {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  visibility: hidden;
  width: 0;
}

.decorative-images__mobile {
  position: relative;
  z-index: 1;
  visibility: visible;
  width: 100%;
}

.signup__success.visible {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: initial;
  z-index: 1;
  pointer-events: all;
  visibility: visible;
  width: 100%;
  min-height: 100vh;
  padding: 24px 24px 40px 24px;
}

.success__icon {
  width: 64px;
  margin-top: 125px;
  margin-bottom: 39.5px;
}

.message__important {
  font-weight: var(--font-weight-bold);
}

.success__dismiss-button {
  margin-top: 40px;
}

@media (min-width: 400px) {
  .signup {
    border-radius: 16px;
  }
}

@media (min-width: 850px) {
  .signup {
    position: relative;
    top: -1px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 928px;
    padding: 24px;
    margin: 24px;
  }

  .signup.success {
    top: 0;
  }

  .signup__form {
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .signup__decorative-images {
    max-width: 400px;
  }

  .decorative-images__desktop {
    position: relative;
    z-index: 1;
    visibility: visible;
    width: 100%;
  }

  .decorative-images__mobile {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    width: 0;
  }

  .signup__success.visible {
    justify-content: flex-start;
    min-height: auto;
    padding: 24px 40px 40px 40px;
  }

  .success__icon {
    margin-top: 0;
  }
}

@media (min-width: 900px) {
  .signup__form {
    padding-left: 40px;
    padding-right: 64px;
  }

  .form__header,
  .success__header {
    font-size: 56px;
  }

  .form__list-item {
    margin-bottom: 6.5px;
  }
}